<div class="container">
  <img src="../../assets/hh_cover.jpg" class="img-responsive" alt="Beto Pandiani - Crossing to Antarctica">
    <div class="text-center" id="tag-line">
      <h1>Welcome Home</h1>
      <h3>Home to Horizon - Unique stories of adventure</h3>
    </div>
    <hr>
    <div class="row">
    <div class="col-sm-4">
      <img src="../../assets/hh_cover.jpg" class="img-responsive" alt="Beto Pandiani - Crossing to Antarctica">
    </div>
    
    <div class="col-sm-4">
      <img src="../../assets/hh_cover.jpg" class="img-responsive" alt="Beto Pandiani - Crossing to Antarctica">
    </div>
    
    <div class="col-sm-4">
      <img src="../../assets/hh_cover.jpg" class="img-responsive" alt="Beto Pandiani - Crossing to Antarctica">
    </div>



    </div>
</div>